body {
  background: rgb(237,239,236);
  text-align: center;
}

h1 {
  color: rgb(87,91,92);
}

h2 {
  color: rgb(87,91,92);
}

li {
  color: white;
  display: inline;

}

button {
  color: rgb(87,91,92);
  background: white;
}