body {
  background: rgb(237,239,236);
  text-align: center;
}

.headline {
  
}

.subtitle {

}

li {
  display: inline-block;
  color: white;
}

img{
  object-fit: cover;
  width: 282px;
  height: 309px;
}

button {

}