body {
  background: rgb(237,239,236);
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  color: rgb(75,75,75);
}

.headline {
  font-size: 30px;
  font-weight: bold;
}

.subtitle {
  font-size: 15px;
  margin-top: -25px;
}

li {
  display: inline-block;
  color: white;
}

img{
  object-fit: cover;
  width: 282px;
  height: 309px;
  margin: 20px 10px 20px 10px;
}

button {
  font-family: 'DM Sans', sans-serif;
  background: white;
  border: 1px solid rgb(175, 175, 175);
  width: 275px;
  height: 35px;
}