body {
  background: rgb(237,239,236);
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.headline {
  color: rgb(87,91,92);
  font-family: Helvetica, sans-serif;
  font-size: 35px;
}

.subtitle {
  color: rgb(87,91,92);
  font-family: sans-serif;
  font-size: 25px;
}

img {
  object-fit: cover;
  width: 470px;
  height: 515px;
}

span {
  
}

button {
  color: rgb(87,91,92);
  background: white;
  font-family: Helvetica, sans-serif;
}